.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 0.5rem;
  overflow: hidden;
  background: #be0027;
  color: #ffe9ca;
}

.card:hover {
  background: #e4e932;
  color: #511378;
}
