.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #e4e932;
  border-radius: 4px;
  background: #2c9f45;
  box-shadow: 0 2px 6px #22222236;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #371777;
  border-color: #52325d;
}

.button--inverse {
  background: #52325d;
  color: white;
}

.button--inverse:hover,
.button--inverse:active {
  color: #000000;
  background: transparent;
}

.button--danger {
  background: #be0027;
  border-color: #e4e932;
}

.button--danger:hover,
.button--danger:active {
  background: #ff4c4c;
  border-color: #be0027;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
